[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-toolbelt = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
start = "python manage.py runserver"
app = "python manage.py startapp"
migrate = "python manage.py migrate"
make = "python manage.py makemigrations"
user = "python manage.py createsuperuser"
